html {
    box-sizing: border-box;
    line-height: 1.5;
    font-family: "Bevan", sans-serif;
    background-color: #fff;
    l
  }

  *, *::before, *::after {
    box-sizing: inherit;
  }

h1 {
  text-align: center;

}
