html {
    box-sizing: border-box;
    line-height: 1.5;
    font-family: "Bevan", sans-serif;

  }

  *, *::before, *::after {
    box-sizing: inherit;
  }

header {
  text-align: center;
  font-size: 3rem;
  background-color: #79756f;





}
